@CHARSET "ISO-8859-1";
@import "mytheme.css";

.backColor{background: url("images/srh.jpg") no-repeat;}


.topbar{
    height: 5%;
    width: 100%;
    colr:white;
    }




.backgroundimage{
	background: url(http://images8.alphacoders.com/395/395087.jpg) no-repeat;
    background-size: 1400px 850px;
    height: 650px;
    width: 1350px;
    color: blue;
} 
    
 .v-caption-labelred {
    font-size: 15px;
   font-weight: 700;
  color: red;
    }
    
    .registerpage{
        background: url("images/music.jpg") no-repeat;
  background-size: 1400px 800px;
  height: 800px;
  color: red;
  font-weight: 800;
  font-size: 10px;
  padding-left: 500px;
  padding-top: 250px;
    }
    .v-label-labelwhite{
    color: blueviolet;
    line-height: 28px;
    }
    
    .mainlayout{
    height: 650px;
    width: 100%;
    colr:red;
    }
    
    .playerbackground{
     background: url("images/music.jpg") no-repeat;     
     background-size: 1400px 650px;      
    }
    
    .backgroundblack{
    background: black;
     
    }
            
   .contentbar{
    background: url("images/music.jpg") no-repeat;     
     background-size: 1400px 600px; 
    }
    
    .menusheet{
    background: black;
    color: red;
    font-weight: bold;
    font-size: 10px;
    }
    
    .logoutbutton{
   margin-left: 310px;
   }
    
    .playercontainer{
     background: url("images/player2.jpg") no-repeat;
  width: 500px;
  height: 200px;
  padding-left: 15px;
  padding-top:15px;
         }
         
         .tracklist{
         height: 400px;
       width: 300px;
         color: red;
       
         }
    
    .title{
  font-size: 70px;
  color: red;
  display: inline-table;
  font-weight: 700;
   padding-left: 400px;
    line-height: 90px;
    text-decoration: underline;
    
    }
    
    
    
